.App {
  text-align: center;
}

.marginAddedTop {
	margin-top: 128px;	
}

.confirmBtn {
  margin-top: 32px;
  margin-left: 16px;
  background-color: lightBlue;
}

.marginAddedLeft {
  margin-left: 16px;
}

.inputs {
	font-size: 24px;
	width: 200px;
	font: center;
}

.block {
	margin-top: 64px;
}